In [ ]:
options(warn=-1)

In [20]:
library(tidyverse)

In [30]:
aov = read_csv("aov.csv")

Parsed with column specification:
cols(
  order_id = col_double(),
  shop_id = col_double(),
  user_id = col_double(),
  order_amount = col_double(),
  total_items = col_double(),
  payment_method = col_character(),
  created_at = col_character()
)

In [32]:
head(aov)

  order_id shop_id user_id order_amount total_items payment_method
1 1        53      746     224          2           cash
2 2        92      925      90          1           cash
3 3        44      861     144          1           cash
4 4        18      935     156          1           credit_card
5 5        18      883     156          1           credit_card
6 6        58      882     138          1           credit_card
  created_at
1 2017-03-13 12:36:56
2 2017-03-03 17:38:52
3 2017-03-14 4:23:56
4 2017-03-26 12:43:37
5 2017-03-01 4:35:11
6 2017-03-14 15:25:01

In [33]:
aov %>%
  summarise(
    mean = mean(order_amount), # 3145.12
    median = median(order_amount)
  )

  mean     median
1 3145.128 284